html, body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
}

pre {
    margin: 0;
}

#files {
    width: 300px;
    overflow: scroll;
    height: 100%;
    /*height: calc(100vh - var(--top-nav-height));*/
}

#diff-view {
    width: 100%;
    padding-left: 8px;
    overflow: scroll;
    height: 100%;
    /*height: calc(100vh - var(--top-nav-height));*/
}

.out-of-context {
    filter: opacity(0.7);
}

.out-of-context.folded {
    border: 1px solid black;
    padding: 1em;
    text-align: center;
    filter: none;
    background-color: transparent;
    width: 100%;
    margin: 1em 0;
    cursor: pointer;
}

.folded {
    margin: 1em 0;
}

.folding-sticky {
    cursor: pointer;
    position: sticky;
    top: 0;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
    filter: none;
    background-color: white;
    width: 100%;
    margin: 1em 0;
    z-index: 0;
}
