:root {
    --top-nav-height: 50px;
    /* keep in sync with `blueprint.css` */
}

body {
    margin: 0;
}

main {
    display: flex;
}

#navbar {
    background-color: #eee;
}

#files {
    width: 300px;
    overflow: scroll;
    height: calc(100vh - var(--top-nav-height));
}

#diff-view {
    width: 100%;
    padding-left: 8px;
    overflow: scroll;
    height: calc(100vh - var(--top-nav-height));
}
