:root {
    --top-nav-height: 50px;
    /* keep in sync with `blueprint.css` */
}

body {
    margin: 0;
}

main {
    display: flex;
}

#navbar {
    background-color: #eee;
}

pre {
    margin: 0;
}

#files {
    width: 300px;
    overflow: scroll;
    height: calc(100vh - var(--top-nav-height));
}

#diff-view {
    width: 100%;
    padding-left: 8px;
    overflow: scroll;
    height: calc(100vh - var(--top-nav-height));
}

.range {
    position: relative;
}

.folding-context {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.out-of-context {
    filter: opacity(0.7);
}

.folded {
    margin: 1em 0;
}

.folding-sticky {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    border: 1px solid black;
    text-align: center;
    filter: none;
    background-color: white;
    margin: 1em 0;
    z-index: 100;
}

.folding-sticky button {}

.folding-sticky .start-fewer {
    grid-column: 1;
}

.folding-sticky .start-more {
    grid-column: 2;
}

.folding-sticky .show-full {
    grid-column: 3;
}

.folding-sticky .hide-full {
    grid-column: 4;
}

.folding-sticky .end-more {
    grid-column: 5;
}

.folding-sticky .end-fewer {
    grid-column: 6;
}